@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>ASP.NET MVC USDA Interactive Map Example</h4>
</div>
<div class="row">
    <div class="col-12" style="padding-bottom:10px;">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Application Details:</h6>
                <div class="text-start">
                    <div class="card-body">
                        <div>
                            <ul>
                                <li>ASP.NET Core v8</li>
                                <li>C# v12</li>
                                <li>JQuery v3.6.0</li>
                                <li>Bootstrap v5.1.0</li>
                                <li>Leaflet v1.9.4</li>
                                <li>Chart.js</li>
                                <li>GeoJSON.NET v1.4.1</li>
                                <li>NetTopologySuite v2.6.0</li>
                                <li>NetTopologySuite.IO.GeoJSON v4.0.0</li>
                                <li>CsvHelper v33.1.0</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>CSS</li>
                                <li>HTML5</li>
                            </ul>
                        </div>
                        <div style="padding-top:20px;">
                            <a href="/home/DashboardDemo" class="btn btn-success">Dashboard Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



